.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
  background-color: white;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

.columns p {
  margin: 16px;
  font-family: NewsGothicMTW05-Bold,news gothic mt,news gothic,helvetica neue,Helvetica,Arial,sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  text-align: center;
  color: #333;
  text-transform: uppercase;
}

@media (width >= 900px) {
  .columns > div {
    align-items: top;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
