footer {
  padding: 2rem;
  background-color: #FFF;
  font-size: .875rem;
  color: #8d8d8d !important;
}

footer .footer {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

footer .footer p {
  margin: 0;
  text-align: center;
}

footer .footer a:any-link {
  color: #8d8d8d;
  text-decoration: none;
}